* {
    box-sizing: border-box;
}

body {
    color: #95969A !important;
    background-color: #23262E !important;
    font-family: "Times New Roman", Times, serif;
}

.person {
    background-color: #2d3038;
    border: none;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}

.person:hover {
    background-color: #42444B;
}

#metric_header > div {
    font-weight: bold;
}

.metric-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Select--multi .Select-value {
    color: #4C78A8;
    border: 1px solid #4C78A8
}
.is-focused:not(.is-open)>.Select-control {
    border: 1px solid #4C78A8
}


.progress_bar > div > div {
    background-color: #1e2130 !important;
}

.metric-row > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

}

#metric-summary-session {
    background-color: #2d3038;
    padding: 10px;
}
