* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFd15f; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cca33c; 
  }

body {
    color: #95969A !important;
    background-color: #23262E !important;
    font-family: "Times New Roman", Times, serif;
}

.person {
    background-color: #2d3038;
    border: none;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}

.person:hover {
    background-color: #42444B;
}

#metric_header > div {
    font-weight: bold;
}

.metric-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Select--multi .Select-value {
    color: #4C78A8;
    border: 1px solid #4C78A8
}

.is-focused:not(.is-open) > .Select-control {
    border: 1px solid #4C78A8
}

#metric-summary-session {

}

#metric_div {
    height: calc(100% - 70px);
    overflow-x: hidden;
    overflow-y: auto;
}

#main_content_wrapper {
    display: grid;
    padding: 30px;
    gap: 30px;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100%;
}

#choose_person_wrapper {
    flex-grow: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #23262E;
    gap: 30px;
}
#left_sideWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px
}

#graphs_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    height: 92vh;
    overflow: hidden;
}
.play_button {
    background-color: #2d3038;
    border: none;
    height: 200px;
}
.play_button:hover {
    background-color: #42444B;
}

#actual_data_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

#feet_wrapper {
    background-color: #2d3038;
    display: flex;
    justify-content: center;
    align-items: center;
}

#historic_data_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2d3038;
}

.progress_bar > div > div {
    background-color: #2d3038 !important;
    border: 1px solid #95969A;
}

#HistGraph {
    background-color: #2d3038;
    width: 100%;
}
.Indicator > div > .daq-indicator--light__indicator--off{
    background-color: #4C78A8;
}
.metric-row > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

}

#metric-summary-session {
    background-color: #2d3038;
    padding: 10px;
}
